# Зависимости Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Секреты и ключи
.env
.env.local
*.key
*.pem
credentials.json

# Базы данных
*.db
*.sqlite3

# Логи
*.log

# Отчёты сканеров (чтобы не загружать в репозиторий)
.horusec/
semgrep_report.*
*.sarif

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
dataset/raw/semgrep_report.json
trufflehog_report.json
*.zip
